<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border="1">
  <h3>List of users</h3>
  <thead>
  <th>login</th>
  <th>password</th>
  </thead>
  <tbody th:each="user : ${users}">
  <td th:text="${user.login}"></td>
  <td th:text="${user.password}"></td>
  </tbody>
</table>
</body>
</html>