<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <h3>List of apps</h3>
    <thead>
    <th>name</th>
    <th>url</th>
    </thead>
    <tbody th:each="app : ${apps}">
    <td th:text="${app.name}"></td>
    <td th:text="${app.url}"></td>
    </tbody>
</table>
</body>
</html>