<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border="1">
  <h3>List of roles</h3>
  <thead>
  <th>title</th>
  <th>app</th>
  </thead>
  <tbody th:each="role : ${roles}">
  <td th:text="${role.title}"></td>
  <td th:text="${role.app.name}"></td>
  </tbody>
</table>
</body>
</html>